         img {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid black 1px;
    position: absolute;
    right: 30px;
        }
             
               .sansserif  {
                     
                 font-family: sans-serif
            }
            body {
                background-color: rgb(220, 240, 255);
                font-size: 18px
            }
                p {
               width: 60%;
           }
            
            .header {
                padding: 50px;
                text-align: center;
                background-color: gainsboro;
                font-size: 18px;
                border-radius: 25px;
            }
            .footer {
              padding: 30px;
            text-align: center;
                background-color: gainsboro;
                font-size: 13px;
                border-radius: 25px;
            }

/*page2*/
           img {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid black 1px;
    position: absolute;
    right: 30px;
        }
                .sansserif  {
                     
                 font-family: sans-serif
            }
          body {
                background-color: rgb(220, 240, 255);
            }
           p {
               width: 60%;
           }
               h1 {
                background-color: gainsboro
            }
           .header {
                padding: 50px;
                text-align: center;
                background-color: gainsboro;
                font-size: 18px;
                border-radius: 25px;
            }
               .footer {
              padding: 30px;
            text-align: center;
                background-color: gainsboro;
                font-size: 13px;
                border-radius: 25px;
            }
                   .wrapper { 
                       margin-right: auto;  
                       margin-left:  auto; 
                       max-width: 960px; 
                       padding-right: 10px; 
                       padding-left:  10px; 
            }
           
           #img1 {
               float: left;
               border: none;
           }
           
        
        